@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    margin: 0;
    border: 0;
    padding: 0;
    border: #f77 1px solid;
}

a {
    text-decoration: none !important;
    color: #000;
}

/*JS*/

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}

.mfixed {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 10; 
}

/*JS*/

.headtop {
    display: flex;
    flex-direction: column;
    background: url("../odaiba.JPG") no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width:100%;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    align-content: center;
}

.headtop h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.headtop p {
    font-family: 'Noto Sans TC', sans-serif;
}

.headtop h3, p {
    text-align: center;
}

.phoneBar {
    display: none;
}

.mNav {
    display: none;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;    
    background:linear-gradient(to bottom right,rgb(255, 255, 255), rgb(196, 196, 196));
}
        
.navItem {
    text-align: center;
    display: flex;
    font-size: 24px;
    min-width: 150px;
}

.navItem:hover {
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.main h2 {
    padding-left: 8%;
    font-family:  'Roboto', sans-serif;
    margin-left: 0%; 
}
   
.profile {
    width: 100%;
    height: 500px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    font-family: 'Noto Sans TC', sans-serif;
}


.profileItem {
    display: flex;
}

#photo {
    background-size: contain;
    background-repeat: no-repeat;
    width: 22.8%;
    height: 79%;
    overflow: hidden;
    background-image: url(../img/profile2.jpg);
    transition:1s;
}

#paragraph {
    display: flex;
    flex-direction: column;
    width: 79%;
    margin-left: 30px;
    margin-right: 5%;
    line-height: 1.5;
    font-size: 18px;
}

#paragraph p{
    margin-bottom: 3%;
    text-align: left;
}

.resume {
    margin-top: 3%;
    font-family:  'Roboto', sans-serif;
    padding-left: 25%;
    background-color: rgb(255, 252, 221);
    padding-bottom: 7%;
}

.resume h2 {
    text-align: center;
    margin-left: -45%;
    margin-bottom: 7%;
    font-size: 2em;
}

.resume h4 {
    margin-top: -15px;
    color: rgb(51, 99, 255);
}

.resume p {
    font-family: 'Noto Sans TC', sans-serif;
    margin-right: 20%; 
    text-align: left;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: .5%;
}

.ability {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.iSkill {
    flex-grow: 2;
    height: 20vh;
}

#coding:before {
    content: "";
    padding-left: 10%;
}

#extra:before {
    content: "";
    padding-left: 10%;
}

.skillItem {
    max-width: 41.666%;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    justify-content: flex-start; 
    height: 85vh;
}

#coding>div  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 130px;
    flex-grow: 1;
    margin: 0 3%; 
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#extra>div {
    display: flex;
    flex-grow: 1;
    margin: 0 3%;
    font-family: 'Roboto', sans-serif;
    text-align: left;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 130px;
}

/*skills*/

.HTML {
    background-image: url(../img/pxHtml.png);
    background-repeat: no-repeat;
    background-size: 120px;  
    background-position-y:center;
    animation: fadeIn 1s;
}

.HTML:before {
    content: "HTML";
}

.HTML:after{
    content: "";
    height: 20px;
    width: 75%;
    background-color: #f77;
    animation: HTMLprogress 2s ease-out;
}

@keyframes HTMLprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 75%;
    }
}


.CSS {
    background-image: url(../img/pxCss.png);
    background-repeat: no-repeat;
    background-size: 120px;  
    background-position-y:center; 
    animation: fadeIn 1s;
}

.CSS:before {
    content: "CSS";
}

.CSS:after{
    content: "";
    height: 20px;
    width: 90%;
    background-color: #f77;
    animation: CSSprogress 2s ease-out;
}

@keyframes CSSprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

.JavaScript {
    background-image: url(../img/pxJs.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}

.JavaScript:before {
    content: "JavaScript";
}

.JavaScript:after{
    content: "";
    height: 20px;
    width: 80%;
    background-color: #f77;
    animation: JavaScriptprogress 2s ease-out;
}

@keyframes JavaScriptprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.jQuery {
    background-image: url(../img/pxJq.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}

.jQuery:before {
    content: "jQuery";
}

.jQuery:after{
    content: "";
    height: 20px;
    width: 70%;
    background-color: #f77;
    animation: jQueryprogress 2s ease-out;
}

@keyframes jQueryprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.Vuejs {
    background-image: url(../img/pxVue.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}


.Vuejs:before {
    content: "Vue.js";
}

.Vuejs:after{
    content: "";
    height: 20px;
    width: 20%;
    background-color: #f77;
    animation: Vuejsprogress 2s ease-out;
}

@keyframes Vuejsprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 20%;
    }
}

@keyframes fadeIn {
    0%{
        color: transparent;
    }
    100% {
        color: #000;

    }
}

/*skills*/
/*extra*/

.Ae {
    background-image: url(../img/Ae.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}

.Ae:before {
    content: "After Effects";
}

.Ae:after{
    content: "";
    height: 20px;
    width: 80%;
    background-color: rgba(139, 98, 194, 0.712);
    animation: AeBar 2s ease-out;
}

@keyframes AeBar {
    0%{
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.Pr {
    background-image: url(../img/Pr.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 0.5s;
}

.Pr:before {
    content: "Premiere";
}

.Pr:after{
    content: "";
    height: 20px;
    width: 70%;
    background-color: #660077;
    animation: PrBar 2s ease-out;
}

@keyframes PrBar {
    0%{
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.Ps {
    background-image: url(../img/Ps.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 0.5s;
}

.Ps:before {
    content: "PhotoShop";
}

.Ps:after{
    content: "";
    height: 20px;
    width: 50%;
    background-color: #33CCFF;
    animation: PsBar 2s ease-out;
}

@keyframes PsBar {
    0%{
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

.Ai{
    background-image: url(../img/Ai.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 0.5s;
}

.Ai:before {
    content: "Illustrator";
}

.Ai:after{
    content: "";
    height: 20px;
    width: 50%;
    background-color: #FFAA33;
    animation: AiBar 2s ease-out;
}

@keyframes AiBar {
    0%{
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
/*extra*/

#protfolio {
    margin-top: 10%;
}

.protfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(136, 136, 136);
    padding-top: 3%;
    height: 60vh;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 2em;
    line-height: 144px;
    text-align: center;
}

.protfolio>div{
    margin: 3% 1%;
    width: 320px;
    height: 25%;
    filter: blur(0px);
} 

.protfolio>div:hover > img {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    filter: blur(4px);
}

.protfolio>div>span {
    z-index: 3;
    position: relative;
    color: #fff;
    top: -193px;
    right: -5px;
    transition: 1s;
    animation: fadeInW 1s;
}

.protfolio>div>span:hover {
    cursor: pointer;
}

@keyframes fadeInW {
    0%{
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

@media only screen and (max-width: 840px) {
    .navItem {
        display: none;
    }

    .mNav {
        list-style-type: none;
        width: 100%;
        display: none;
        text-align: left;
        font-family: 'Roboto', sans-serif;    
        line-height: 1.5em;
        background-color:rgba(196, 196, 196, 0.575);
    }

    .phoneBar {
        display: flex;
        justify-content: flex-end;
        height: 40px;
        width: 100%;
        background-color: rgba(211, 211, 211, 0.493);
    }

    .icon {
        width: 36px;
        height: 36px;
        border-radius: 10px;
        background-image: url(../img/icon.png);
        background-size: cover;
    }

}