@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);
* {
    margin: 0;
    border: 0;
    padding: 0;
}

a {
    text-decoration: none !important;
    color: #000;
}

/*JS*/

.fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10; 
}

.mfixed {
    position: fixed;
    top: 40px;
    left: 0;
    z-index: 10; 
}

/*JS*/

.main {
    max-width: 960px;
    margin: auto;
}

.headtop {
    display: flex;
    flex-direction: column;
    background: url("../odaiba.JPG") no-repeat;
    background-attachment: fixed;
    background-position: center center;
    background-size: cover;
    width:100%;
    height:100vh;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.headtop>h3 {
    font-family: 'Roboto', sans-serif;
    font-size: 3em;
}

.headtop>p{
    font-family: 'Noto Sans TC', sans-serif;
}

.headtop>h3, p{
    text-align: center;
}

.headtop>a{
    background-image: url(../img/GitHub.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-top: 20px;
}

.headtop>a:hover{
    transform: scale(1.1);
    transition: 0.7s;
}

i {
    position: relative;
    border: solid #fff;
    margin-top: 70px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    animation: arrow 1.5s infinite;
  }

@keyframes arrow {
    0%, 100%{
        transform: translate(0, 0) rotate(45deg);
    }
    50%{
        transform: translate(0, 10px) rotate(45deg);
    }
}


.phoneBar {
    display: none;
}

.mNav{
    display: none;
    height: 0;
    width: 0;
    margin-left: -500px;
}

.mNav>a{
    color: transparent;
    cursor: default;
}

.nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    font-family: 'Roboto', sans-serif;    
    background:linear-gradient(to bottom right,rgb(255, 255, 255), rgb(196, 196, 196));
}
        
.navItem {
    text-align: center;
    display: flex;
    font-size: 24px;
    min-width: 150px;
}

.navItem:hover {
    text-transform: uppercase;
    background-color: #000;
    color: #fff;
    transition: .5s;
    cursor: pointer;
}

.main h2 {
    font-family:  'Roboto', sans-serif;
}
   
#profile{
    background-color: azure;
    opacity: 0;
    transition: 1s;
}

.profile {
    position: relative;
    flex: 1;
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: flex-start;
    font-family: 'Noto Sans TC', sans-serif;
    transition: 2s;
}

#photo {
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center; 
    width: 330px;
    height: 330px;
    overflow: hidden;
    background-image: url(../img/profile2.jpg);
    opacity: 0;
    margin-left: -600px;
    transition:1s;
}

#paragraph {
    display: flex;
    flex-direction: column;
    width: 79%;
    margin-left: 20px;
    padding-left: 600px;
    opacity: 0;
    line-height: 1.5;
    font-size: 18px;
    transition: 1s;
}

#paragraph p{
    margin-bottom: 3%;
    text-align: left;
}

.resume {
    font-family:  'Roboto', sans-serif;
    padding-left: 18%;
    background-color: rgb(255, 252, 221);
    padding-bottom: 7%;
    position: relative;
    transform: translate(0, -100px);
    opacity: 0;
    transition: 1s;
}

#resume {
    position: relative;
    width: 100%;
    opacity: 0;
    transition: 1s;
    transform: translate(0, -100px);
    text-align: center;
    font-size: 2em;
    background-color: rgb(252, 248, 204);
}

.resume h4 {
    margin-top: -15px;
    color: rgb(51, 99, 255);
}

.resume p {
    font-family: 'Noto Sans TC', sans-serif;
    margin-right: 20%; 
    text-align: left;
    font-size: 18px;
    margin-bottom: 2%;
    margin-top: .5%;
}

.ability {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.mAbility {
    display: none;
}

.iSkill {
    flex-grow: 2;
    height: 20vh;
}

.skillItem{
    max-width: 85%;
    display: flex;
    flex-direction: column;
    flex-grow: 5;
    justify-content: flex-start; 
    height: 85vh;
}

#coding>div  {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 130px;
    flex-grow: 1;
    margin: 0 3%; 
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

#extra>div {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-left: 130px;
    flex-grow: 1;
    margin: 0 3%; 
    font-family: 'Roboto', sans-serif;
    text-align: left;
}

.btn1 {
    margin-left: 20px ;
}

.btn1, .btn2 {
    display: show;
    font-size: 24px;
    height: 30px;
    width: 66px;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 10px 10px 0px -0px;
}

.clicked {
    size: 1.1;
    background-color: #000;
    color: #fff;
    z-index: 10;
    overflow: visible;
}

/*skills*/

.HTML {
    background-image: url(../img/pxHtml.png);
    background-repeat: no-repeat;
    background-size: 120px;  
    background-position-y:center;
    animation: fadeIn 1s;
}

.HTML:before {
    content: "HTML";
}

.HTML:after{
    content: "skilled";
    height: 20px;
    width: 75%;
    background-color: #f77;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: HTMLprogress 2s ease-out;
}

@keyframes HTMLprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 75%;
    }
}


.CSS {
    background-image: url(../img/pxCss.png);
    background-repeat: no-repeat;
    background-size: 120px;  
    background-position-y:center; 
    animation: fadeIn 1s;
}

.CSS:before {
    content: "CSS";
}

.CSS:after{
    content: "skilled";
    height: 20px;
    width: 90%;
    background-color: #f77;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: CSSprogress 2s ease-out;
}

@keyframes CSSprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 90%;
    }
}

.JavaScript {
    background-image: url(../img/pxJs.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}

.JavaScript:before {
    content: "JavaScript";
}

.JavaScript:after{
    content: "skilled";
    height: 20px;
    width: 80%;
    background-color: #f77;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: JavaScriptprogress 2s ease-out;
}

@keyframes JavaScriptprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.jQuery {
    background-image: url(../img/pxJq.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}

.jQuery:before {
    content: "jQuery";
}

.jQuery:after{
    content: "not bad";
    height: 20px;
    width: 70%;
    background-color: #f77;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: jQueryprogress 2s ease-out;
}

@keyframes jQueryprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.Vuejs {
    background-image: url(../img/pxVue.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}


.Vuejs:before {
    content: "Vue.js";
}

.Vuejs:after{
    content: "newbie";
    height: 20px;
    width: 30%;
    background-color: #f77;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: Vuejsprogress 2s ease-out;
}

@keyframes Vuejsprogress {
    0%{
        width: 0%;
    }
    100% {
        width: 30%;
    }
}

@keyframes fadeIn {
    0%{
        color: transparent;
    }
    100% {
        color: #000;

    }
}

/*skills*/
/*extra*/

.Ae {
    background-image: url(../img/Ae.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 1s;
}

.Ae:before {
    content: "After Effects";
}

.Ae:after{
    content: "skilled";
    height: 20px;
    width: 80%;
    background-color: rgba(139, 98, 194, 0.712);
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: AeBar 2s ease-out;
}

@keyframes AeBar {
    0%{
        width: 0%;
    }
    100% {
        width: 80%;
    }
}

.Pr {
    background-image: url(../img/Pr.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 0.5s;
}

.Pr:before {
    content: "Premiere";
}

.Pr:after{
    content: "skilled";
    height: 20px;
    width: 70%;
    background-color: #660077;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: PrBar 2s ease-out;
}

@keyframes PrBar {
    0%{
        width: 0%;
    }
    100% {
        width: 70%;
    }
}

.Ps {
    background-image: url(../img/Ps.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 0.5s;
}

.Ps:before {
    content: "PhotoShop";
}

.Ps:after{
    content: "basic";
    height: 20px;
    width: 50%;
    background-color: #33CCFF;
    color:  rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: PsBar 2s ease-out;
}

@keyframes PsBar {
    0%{
        width: 0%;
    }
    100% {
        width: 50%;
    }
}

.Ai{
    background-image: url(../img/Ai.png);
    background-repeat: no-repeat;
    background-size: 110px;
    background-position-y:center; 
    animation: fadeIn 0.5s;
}

.Ai:before {
    content: "Illustrator";
}

.Ai:after{
    content: "basic";
    height: 20px;
    width: 50%;
    background-color: #FFAA33;
    color: rgb(216, 216, 216);
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.63);
    animation: AiBar 2s ease-out;
}

@keyframes AiBar {
    0%{
        width: 0%;
    }
    100% {
        width: 50%;
    }
}
/*extra*/

#knowledge{
    display: flex;
    justify-content: space-around;
}

#knowledge>div>h2{
    background-color: rgb(255, 251, 188);
}

.know>div>p{
    text-align: left;
}

.lang>div>p{
    text-align: left;
}

#protfolio {
    background-color: rgb(102, 102, 102);
    color: #fff;
    margin-top: 3%;
}

.protfolio {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex: 1;
    overflow: hidden;
    background-color: rgb(136, 136, 136);
    padding-top: 3%;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 1.5em;
    line-height: 144px;
    text-align: center;
}

.protfolio>div{
    margin: 3% 1%;
    width: 320px;
    height: 144px;
    filter: blur(0px);
} 

.protfolio>div:hover > img {
    transform: scale(1.1);
    transition: 0.5s;
    cursor: pointer;
    filter: blur(4px);
}

.protfolio>div>a {
    z-index: 3;
    position: relative;
    color: #fff;
    top: -193px;
    right: -5px;
    transition: 1s;
    animation: fadeInW 1s;
    overflow: hidden;
}

.protfolio>div>a:hover {
    cursor: pointer;
}

.contact{
    display: flex;
    flex-direction: column;
    background-color: rgb(34, 33, 33);
    width: 100%;
    height: 200px;
    color: #fff;
    overflow: hidden;
}

.contact>div{
    display: flex;
    padding-left: 10px;
    padding-top: 20px;
}

.contact>div>img{
    width: 25px;
    height: 25px;
}

@keyframes fadeInW {
    0%{
        color: transparent;
    }
    100% {
        color: #fff;
    }
}

@keyframes rotate {
    0%{
        transform: rotateZ(0deg)
    }
    100%{
        transform: rotateZ(360deg)
    }
}

@media only screen and (max-width: 840px) {
    .navItem {
        display: none;
    }

    .mNav {
        display: flex;
        flex-direction: column;
        margin-left: 0;
        width: 0;
        height: 100vh;
        right: 0;
        z-index: 5;
        overflow-x: hidden;
        text-align: center;
        font-family: 'Roboto', sans-serif;    
        line-height: 1.5em;
        background-color:rgba(196, 196, 196, 0.89);
        transition: 0.3s;
    }

    .mNav>a{
        padding: 20px;
        color: #000;
    }

    .phoneBar {
        height: 40px;
        width: 100%;
        background-color: rgba(211, 211, 211, 0.856);
    }

    .icon {
        float: left;
        margin-top: 1.5px;
        width: 36px;
        height: 36px;
        border-radius: 10px;
        background-image: url(../img/icon.png);
        background-size: cover;
        background-color: rgb(170, 170, 170);
        animation: rotate 0.5s;
        transition: 0.5s;
    }

    .cross {
        float: left;
        margin-top: 1.5px;
        width: 36px;
        height: 36px;
        border-radius: 10px;
        background-image: url(../img/cross.png);
        background-size: cover;
        background-color: rgb(170, 170, 170);
        animation: rotate 0.5s;
        transition: 0.5s;
    }

    #photo {
        align-self: center;
        width: 300px;
        height: 300px;
    }

    .profile {
        flex-direction: column;
    }

    #paragraph {
        font-size: 12px;
        align-self: center;
    }

    .resume{
        padding-left: 20px;
    }

    .resume>h3 {
        font-size: 16px;
    }

    .resume>h4 {
        font-size: 14px;
    }

    .resume>p {
        font-size: 12px;
        margin-right: 20px;
    }

    .ability {
        display: none;
    }

    .mAbility {
        display: flex;
        flex-direction: column;
        height: 85vh;
        margin: 3% 10% 0 10%;
    }

    #coding>div {
        background-size: 80px;
    }

    #coding>div:before{
        margin-left: -30px;
    }

    #coding>div:after{
        margin-left: -30px;
    }
    
    .skillItem1 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
        margin: 0;
        padding: 0; 
        font-family: 'Roboto', sans-serif;
        text-align: left;
        border: #000 1px solid;
        border-radius: 20px;
    }

    .skillItem2 {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        flex-grow: 1;
        margin: 0 ; 
        font-family: 'Roboto', sans-serif;
        text-align: left;
        border: #000 1px solid;
        border-radius: 20px;
    }

    #extra>div {
        background-size: 80px;
    }

    #extra>div:before{
        margin-left: -30px;
    }

    #extra>div:after{
        margin-left: -30px;
    }
    
    #knowledge{
        flex-direction: column;
        padding-left: 20px;
        font-size: 16px;
    }

}